
*.user

*.filters

*.vcxproj

*.lastbuildstate

WaterColor/Release/

WaterColor/Debug/

WaterColor/assimp/

WaterColor/freeglut/

WaterColor/glew-1.10.0/

WaterColor/.vs/

WaterColor/WaterColor/Release/

WaterColor/WaterColor/Debug/
WaterColor/WaterColor/stb_image.h

WaterColor/models/

*.sln

WaterColor/textures/


WaterColor/WaterColor/maths_funcs.h

WaterColor/WaterColor/maths_funcs.cpp
